.register-container {
    background-color: black;
    width: 100%; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.regi-title {
    color: #fffeee;
    font-size: 1.2rem;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.register-form {
    width: 400px;
    height: 500px;
    border: 2px solid #fffeee;
}

.regi-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.regi-form input {
    width: 350px;
    height: 30px;
    color: #fffeee;
    margin: 15px 0;
    border: 0;
    border-bottom: 1px solid gray;
    background-color: black;
}

.regi-form button {
    margin: 30px 0;
    width: 200px;
    height: 30px;
    border: 3px solid #fffeee;
    background-color: black;
    color: #fffeee;
    align-self: center;
}

.log-in {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 350px;
}
.log-in span {
    font-size: 0.9rem;
    margin-right: 20px;
    color: #fffeee;
}

.log-in button {
    width: 50px;
    font-size: 0.7rem;
    border: 0;
    border-bottom: 2px solid #fffeee;
    border-right: 2px solid transparent;
    background-color: black;
    color: #fffeee;
    transition: all 0.30s; 
    letter-spacing: none;
}

.log-in button:hover{ 
    transform : scaleX(1.1);
    letter-spacing: 0.1px;
}
