@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nanum+Gothic&family=Rubik&display=swap');

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    /* background-color: #fffbee; */
}

body {
    background-color: #fffbee;
    font-family: 'Playfair Display', sans-serif;
}
