.form-control { 
    display: flex; 
    flex-direction: column;
    border-bottom: 2px solid transparent;
    border-left: 2px solid black;
}

.form-item {
    display: flex; 
    flex-direction: column;
    margin: 10px 10px 10px 15px;
    
}

.form-item label {
    padding-bottom: 5px;
    font-weight: 500;
}

.form-item input {
    border: 0;
    border-bottom: 1px solid gray;
    padding: 5px;
}

.form-item textarea {
    border: 0;
    border-bottom: 1px solid gray;
    padding: 5px;
}

.form-item span {
    font-size: 0.8rem;
    color: gray;
    
}

.checkbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.checkbox label {
    font-size: 0.8rem;
    color: black;
    padding: 5px;
}

.checkbox input {
    width: 15px;
}

.check-opt {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    align-items: center;
   
}

.hearts {
    padding: 5px 0;
}

.form-upload {
    display: flex; 
    justify-content: flex-end;
}
