.diary-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 100px;
    padding-bottom: 50px;
}

.diary-title {
    font-size: 5rem;
    font-family: Playfair Display; 
    font-weight: bold;
    margin-left: 100px;
}

.diary {
    display: flex;
    flex-direction: column;
    width: 90%;
    border-bottom: 3px solid black;
    border-right: 3px solid transparent;
    padding: 10px;
}

.diary-item {
    display: flex; 
    flex-direction: column;
    margin: 10px;
}

.diary-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.grid-flex {
    display: flex;
    justify-content: flex-end;
}


.sm-btn {
    align-self: flex-end;
    font-size: 0.8rem;
    font-family: Playfair Display;
    background: none;
    border: none;
    padding: 5px;
    border-right: 2px solid transparent;
    border-bottom: 2px solid black;
    width: 50px;
}


