.diary {
    display: flex;
    flex-direction: column;
    width: 800px;
    border-bottom: 3px solid black;
    border-right: 3px solid transparent;
    padding: 10px;
    margin: 50px;
}
.diary-item {
    display: flex; 
    flex-direction: column;
    margin: 10px;
}

.diary-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.grid-flex {
    display: flex;
    justify-content: flex-end;
}


.sm-btn {
    align-self: flex-end;
    font-size: 0.8rem;
    font-family: Playfair Display;
    background: none;
    border: none;
    padding: 5px;
    border-right: 2px solid transparent;
    border-bottom: 2px solid black;
    width: 50px;
}

