.container {
  display: flex;
  height: 100vh;
}

.header {
    width: 400px;
    border-bottom: 4px solid transparent;
    border-right: 4px solid black;
    border-top: 4px solid transparent;
    margin: 10px;
}

.form {
    width: 330px;
    margin-left: 25px;
}

